
.topPartWrapper {
    margin: 0 auto;
    max-width: 1140px;
    padding: 1rem;
}

.thirdWrapper {
    margin: 0 auto;
    max-width: 1140px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.select {
    width: 100%;
    min-height: 40px;
    padding: 1rem;
    font-size: 17px;
}

.cardHeader {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.cardImage img {
    max-width: 100%;
}

.cardWrapper {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.layout {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    padding-top: 3rem;
}

.layout div:last-of-type {
    font-size: 16px;
}

.secondaryWrapper {
    display: flex;
    position: relative;
    background-position: center;
    background-size: contain;
}

.secondaryWrapper::before {
    background-image: linear-gradient(to bottom right,#000,#000);
    z-index: 1;
    opacity: .6;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainWrapper header {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.mainWrapper header img {
    max-height: 100px;
    margin-bottom: 5rem;
}

.mainTitle {
    text-align: center;
}

.subTitle {
    font-size: 20px;
    text-align: center;
}

.textContent {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    flex-direction: column;
    margin-top: 2.5rem;
}

.textContent p {
    margin: 0;
}

.textCenter2 {
    font-size: 24px;
    text-align: center;
    margin-top: 1rem;
    color: #232323;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 0 0 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #232323;
    text-align: center;
}

.leftSideTextContainer {
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    color: #fff;
}

.amazonImg {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.rightSideFormContainer {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.formHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.labelForm {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
}

.labelForm input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #BFC3C8;
    min-height: 33px;
    padding: 10px;
    box-sizing: border-box;
}

.form {
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form button {
    margin-top: 2rem;
    background-color: #ffd400;
    border: 0;
    border-radius: 0.5rem;
    min-height: 35px;
    font-size: 18px;
    cursor: pointer;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
    min-height: 45px;
}

.form button:hover {
    background-color: #ffbf00;
}

.formBottomContent {
    margin-top: 2rem;
    letter-spacing: 0.2px;
    line-height: 21px;
}

.fourthWrapper {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
}

.questionWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.copyButton {
    margin-top: 2rem;
    background-color: #ffd400;
    border: 0;
    border-radius: 0.5rem;
    min-height: 35px;
    font-size: 18px;
    cursor: pointer;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
    min-height: 45px;
    width: 100%;
}

.copyButton:hover {
    background-color: #ffbf00;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.textCenter {
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
}

.product {
    padding: 2rem;
    border: 1px solid grey;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 6px;
    text-align: center;
}

.product img {
    max-width: 100%;
}

.product:hover {
    padding: 2rem;
    border: 1px solid rgb(0, 221, 184);
    cursor: pointer;
}


.nextButton, .postReview {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: bold;
    justify-content: center;
    margin-top: 2rem;
    background-color: #ffd400;
    border: 0;
    border-radius: 0.5rem;
    min-height: 35px;
    font-size: 18px;
    cursor: pointer;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
    min-height: 45px;
    text-decoration: none;
    width: 100%;
}

.nextButton2 {
    background-color: rgb(244,116,34);
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    min-height: 35px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.nextButton2:hover {
    background-color: rgb(202, 85, 13);
}


.postReview {
    font-weight: normal;
}

.nextButton:hover, .postReview:hover {
    background-color: #ffbf00;
}

.experienceTextArea {
    width: 100%;
    min-height: 200px;
}

.details {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.mainForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mainForm input, .mainForm select {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #b5b5b5;
    padding: 0.5rem;
}

@media(max-width: 768px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }
    .leftSideTextContainer {
        width: 80%;
    }
    .rightSideFormContainer {
        width: 80%;
    }
    .thirdWrapper {
        flex-direction: column;
    }
    .cardWrapper {
        width: 100%;
    }
    .product {
        width: 100%;
    }
}