
.topPartWrapper {
    margin: 0 auto;
    max-width: 1140px;
    padding: 1rem;
}

.thirdWrapper {
    margin: 0 auto;
    max-width: 1140px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}



.cardHeader {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.cardImage img {
    max-width: 100%;
}

.cardWrapper {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.layout {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    text-align: center;
    font-size: 20px;
    padding-top: 3rem;
}

.layout div:last-of-type {
    font-size: 16px;
}

.secondaryWrapper {
    display: flex;
    position: relative;
    background-position: center;
    background-size: contain;
}

.secondaryWrapper::before {
    background-image: linear-gradient(to bottom right,#000,#000);
    z-index: 1;
    opacity: .6;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainWrapper header {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.mainWrapper header img {
    max-height: 100px;
    margin-bottom: 5rem;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 0 0 0;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #232323;
    text-align: center;
}

.leftSideTextContainer {
    width: 50%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    color: #fff;
}

.rightSideFormContainer {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.formHeader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.labelForm {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
}

.labelForm input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #BFC3C8;
    min-height: 33px;
    padding: 10px;
    box-sizing: border-box;
}

.form {
    width: 100%;
    max-width: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form button {
    margin-top: 2rem;
    background-color: #ffd400;
    border: 0;
    border-radius: 0.5rem;
    min-height: 35px;
    font-size: 18px;
    cursor: pointer;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
    min-height: 45px;
}

.form button:hover {
    background-color: #ffbf00;
}

.formBottomContent {
    margin-top: 2rem;
    letter-spacing: 0.2px;
    line-height: 21px;
}

.fourthWrapper {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
}

.questionWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.amazonWrapper {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
    gap: 2rem;
    padding: 1rem;
}

.leftWrapper {
    width: 50%;
    line-height: 25px;
}

.rightWrapper {
    width: 50%;
}

.amzButton {
    color: #000;
    background-color:#ffd400;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease;

}

.submitBtn {
    color: #000;
    background-color:#ffd400;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease;
    width: 100%;
    border: none;
    cursor: pointer;
}

.submitBtn:hover {
    border-radius: 16px;
    background-color: #f1bb16;
}

.amzButton:hover {
    border-radius: 16px;
    background-color: #f1bb16;
}

.hightlighted {
    color: red;
}

.please {
    color: #474747;
    font-size: 12px;
}

.errorMessage {
    color: red;
    font-size: 12px;
    padding-top: 0.8rem;
}

.inputSubmit {
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    border: 1px solid grey;
    transition: 500ms ease all;
    box-sizing: border-box;
}

.inputSubmit:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0,0,0,.075)inset,0 0 8px rgba(102,175,233,.6);
}

.secondP {
    margin-top: 1.5rem;
}


@media(max-width: 768px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }
    .leftSideTextContainer {
        width: 80%;
    }
    .rightSideFormContainer {
        width: 80%;
    }
    .thirdWrapper {
        flex-direction: column;
    }
    .cardWrapper {
        width: 100%;
    }
    .amazonWrapper {
        flex-direction: column;
    }
    .leftWrapper, .rightWrapper {
        width: 100%;
    }
}